In [10]:
_file = "04_pandas.ipybn"
_author = "mhcrnl"

import pandas as pd
print("Pandas version: " + pd.__version__)

import numpy as np
np.__version__

Pandas version: 0.25.1

'1.16.5'

In [7]:
%%html
<a href="https://pandas.pydata.org/docs/index.html">PANDAS</a>

In [11]:
# Series este un tablou unidimensional de date
data = pd.Series([0.25, 0.5, 0.675, 1.0])
data

0    0.250
1    0.500
2    0.675
3    1.000
dtype: float64

In [12]:
data.values

array([0.25 , 0.5  , 0.675, 1.   ])

In [13]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
data[2]

0.675

In [15]:
data[1:3]

1    0.500
2    0.675
dtype: float64

In [16]:
data=pd.Series([0.34, 0.5, 0.98, 1.0], index=['a', 'b', 'c','d'])
data

a    0.34
b    0.50
c    0.98
d    1.00
dtype: float64

In [17]:
data=pd.Series([0.38, 0.98, 0.50, 1.0], index=[1,2,3,4])
data

1    0.38
2    0.98
3    0.50
4    1.00
dtype: float64

In [18]:
data[5]

KeyError: 5

In [19]:
data[4]

1.0

In [20]:
population_dict = {'California':34567890,
                  'Texas': 2567980,
                  'New York': 1789456,
                  'Florida': 2345678,
                  'Illinois':2234567}
population = pd.Series(population_dict)
population

California    34567890
Texas          2567980
New York       1789456
Florida        2345678
Illinois       2234567
dtype: int64

In [21]:
population["California"]

34567890

In [22]:
population["California": "Illinois"]

California    34567890
Texas          2567980
New York       1789456
Florida        2345678
Illinois       2234567
dtype: int64

In [23]:
pd.Series?

Init signature:
pd.Series(
    data=None,
    index=None,
    dtype=None,
    name=None,
    copy=False,
    fastpath=False,
)
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, *, **) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series.

    .. versionchanged :: 0.23.0
       If data is a dict, argument order is maintained for Python 3.6
       and later.

index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If both a dict and index
    sequence are used, the index will override the keys found in the
    dict.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
copy : bool, default False
    Copy input data.
File:           c:\programdata\anaconda3\lib\site-packages\pandas\core\series.py
Type:           type
Subclasses:     SparseSeries, SubclassedSeries

In [24]:
pd.Series([2,4,5])

0    2
1    4
2    5
dtype: int64

In [25]:
pd.Series(5, index=[100.200,300])

The history saving thread hit an unexpected error (OperationalError('disk I/O error')).History will not be written to the database.

100.2    5
300.0    5
dtype: int64

In [26]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [27]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3,2])

3    c
2    a
dtype: object

In [30]:
# DataFrame object
area_dict = {'California':435678, 'Texas':567890, 'New York': 234567, 'Florida':879543, 'Illinois':567432}
area = pd.Series(area_dict)
area

California    435678
Texas         567890
New York      234567
Florida       879543
Illinois      567432
dtype: int64

In [31]:
states = pd.DataFrame({'population':population, 'area':area})
states

            population    area
California    34567890  435678
Texas          2567980  567890
New York       1789456  234567
Florida        2345678  879543
Illinois       2234567  567432

In [32]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [33]:
states.columns

Index(['population', 'area'], dtype='object')

In [34]:
states['area']

California    435678
Texas         567890
New York      234567
Florida       879543
Illinois      567432
Name: area, dtype: int64

In [35]:
pd.DataFrame(population, columns=['population'])

            population
California    34567890
Texas          2567980
New York       1789456
Florida        2345678
Illinois       2234567

In [36]:
data=[{'a':i, 'b':2*i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [37]:
pd.DataFrame([{'a':1,'b':2}, {'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [38]:
pd.DataFrame({'population':population, 'area':area})

            population    area
California    34567890  435678
Texas          2567980  567890
New York       1789456  234567
Florida        2345678  879543
Illinois       2234567  567432

In [40]:
pd.DataFrame(np.random.rand(3,2),
            columns=['foo', 'bar'],
            index=['a','b','c'])

        foo       bar
a  0.235749  0.067513
b  0.417651  0.169110
c  0.803673  0.936791

In [42]:
A = np.zeros(3, dtype=[('A', 'i8'),('B','f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [46]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [45]:
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [48]:
ind = pd.Index([2,3,5,7,12])
ind

Int64Index([2, 3, 5, 7, 12], dtype='int64')

In [49]:
ind[0]

2

In [50]:
ind[::2]

Int64Index([2, 5, 12], dtype='int64')

In [51]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [52]:
ind[1]=1

TypeError: Index does not support mutable operations

In [53]:
indA=pd.Index([1,3,5,7,9])
indB=pd.Index([2,4,6,9,11])
indA & indB #intersection

Int64Index([9], dtype='int64')

In [54]:
indA | indB #union

Int64Index([1, 2, 3, 4, 5, 6, 7, 9, 11], dtype='int64')

In [55]:
indA ^ indB #simetric differance

Int64Index([1, 2, 3, 4, 5, 6, 7, 11], dtype='int64')

In [56]:
# Data Indexing and Selection(p.107)
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a', 'b','c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64