In [5]:
# Boeing (BA) stock market 
from IPython.core.display import display, HTML
display(HTML("""<a href=https://finance.yahoo.com/quote/BA?p=BA>Boeing</a>"""))

In [2]:
import pandas_datareader as pdr
import datetime

stock = 'BA'
start = datetime.datetime(2020, 1, 3)
end = datetime.date.today()

BA = pdr.get_data_yahoo(stock, start, end)
BA.tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-04-17,154.000000,145.000000,149.410004,154.000000,52389400.0,154.000000
2020-04-20,151.630005,142.500000,147.210007,143.610001,34983800.0,143.610001
2020-04-21,141.899994,135.449997,139.009995,136.330002,27043800.0,136.330002
2020-04-22,140.820007,134.520004,140.419998,134.970001,22734500.0,134.970001
2020-04-23,140.309998,136.110001,136.500000,139.037994,7850807.0,139.037994

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import numpy as np

fig, ax = plt.subplots(figsize=(12,8))
ax.plot(BA['Close'], label="Preturi la inchidere")
#plt.figure(figsize=(16,10))
plt.title("Actiunea Boeing")
plt.ylabel("Pret in USD.");

In [10]:
def media_mobila_simpla(cost_actiune, nr_zile):
    act_mms = cost_actiune.rolling(window=nr_zile).mean()
    return act_mms

print(media_mobila_simpla(BA['Close'], 10))

Date
2020-01-03           NaN
2020-01-06           NaN
2020-01-07           NaN
2020-01-08           NaN
2020-01-09           NaN
                 ...
2020-04-15    140.185999
2020-04-16    140.539999
2020-04-17    143.613000
2020-04-20    145.522000
2020-04-21    144.297009
Name: Close, Length: 75, dtype: float64

In [ ]:
mhcrnl@gmail.com